body{
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    
}

/* -------------------
    nav style start
---------------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-h2{
    padding-left: 100px;
    margin-top: 40px;
    font-weight: 700; 
    
}
.nav-menu{
    padding-right: 100px;
    margin-top: 40px;
    font-weight: 600;  
}
.anchor{
    text-decoration: none;
    color: black;
}
.nav-menu a,i{
    padding-left: 30px;
}
.nav-menu-icon{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
/* -------------------
    nav style end
---------------------*/


/* -------------------
    section-drone style start
---------------------*/

main{
    display: flex;
    flex-direction: column;
}
.section-drone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.influencer{
    width: 500px;
    padding-left: 100px;
}
.influencer p{
    font-weight: 600;
}
.div-drone{
    display: flex;
}
.div-drone img{
    width: 500px;
    padding-right: 100px;
}
.h1-font-size{
    font-size: 40px;
    font-weight: 900; 
}
.button{
    background-color: rgb(32, 108, 230);
    width: 160px;
    height: 35px;
    padding-left: 45px;
    padding-top: 10px;
    border-radius: 50px;
    margin-top: 25px;
    font-weight: bold;
}
.button a, i{
    text-decoration: none;
    color: white;
}

/* -------------------
    section-drone style start
---------------------*/


/* -------------------
    logo style start
---------------------*/
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 100px;
    box-shadow: 0 0 1px  ;
}
.logos img{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* -------------------
    logo style end
---------------------*/

#column-title{
    text-align: center;
    margin-top: 100px;
}

/* -------------------
    section-column style start
---------------------*/

.section-column{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    align-items: center;
    position: relative;
    
}
.box{
    width: 330px;
    height: 450px;
    box-shadow: 0 0 1px;
    border-radius: 4px;
    margin-bottom: 25px;
}
.box img{
    width: 100%;
}
.inner-box h1,h2,p{
    margin: 0;
}
.inner-box h2{
    color: rgb(99, 93, 93);
}
.inner-box{
    padding: 10px 10px;
    border-radius: 2px;
}
.fa-star{
    color: rgb(224, 140, 5);
    padding-left: 0;
}
.main-bottom a{
    text-decoration: none;
    color: red;
    font-weight: 700;
    
}
.main-bottom{
    position: relative;
    width: 120px;
    left: 1150px;
}
/* -------------------
    section-column style end
---------------------*/

.footer{
    background-color: rgb(119, 153, 40);  
    width: 100%;
    height: 200px;
    margin-top: 100px;
}
.footer h2{
    text-align: center;
    padding-top: 60px;
}
.footer p{
    text-align: center;
}
.fa-copyright{
    padding-left: 0;
}
.p-logo{
    text-align: center;
}
.f-icon{
    padding-left: 10px;
    color: rgb(71, 71, 69);
}


/* ----------------------
Media query
----------------------- */
@media only screen and (max-width: 688px) {
    .section-drone{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .section-column{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    
}
